@font-face {
  font-family: "Btro_core";
  src: url("./assets/fonts/비트로\ 코어\ TTF.ttf");
}
@font-face {
  font-family: "surround";
  src: url("./assets/fonts/Cafe24Ssurround.ttf");
}
@font-face {
  font-family: "sleig";
  src: url("./assets/fonts/SLEIGothicTTF.ttf");
}
body, html  {
  font-family: 'surround';
}
